{% extends "base.html" %}
{% block content %}
<div class="card-body">
   <h4>Dados do Jogador</h4>
     <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Senha</th>
                <th><a type="button" class="btn btn-success" href="{% url 'index' %}">Início</a><br></th>
            </tr>
        </thead>
        <tbody>
            {% for jogador in jogadores %}
            <tr>
                <td>{{ jogador.idjogador }}</td>
                <td>{{ jogador.nome }}</td>
                <td>{{ jogador.login }}</td>
                <td>{{ jogador.senha }}</td>
                <td><a type="button" class="btn btn-warning" href="{% url 'jogador-update' jogador.idjogador %}">Atualizar</a>
                    <a type="button" class="btn btn-danger" href="{% url 'jogador-delete' jogador.idjogador %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{% url 'jogador-create' %}">Criar</a>
</div>
{% endblock %}